<template name="footer">
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12 center-align">
                    <p class="grey-text text-lighten-4">
                        Fra
                        <a href="https://online.ntnu.no/">
                            <img class="onlinelogo" src="/online_logo.svg" alt="online"/>
                        </a>
                        , med kjærlighet og meteor
                    </p>
                </div>
            </div>
        </div>
    </footer>
</template>