<template name="header">
    <nav>
        <div class="nav-wrapper blue darken-4">
            <a class="brand-logo" href="{{pathFor 'verse'}}">Himmelseng</a>
            <a href="#" data-activates="mobile-menu" class="button-collapse" ><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {{> navlinks}}
            </ul>
            <ul class="side-nav" id="mobile-menu">
                {{> navlinks}}
            </ul>
        </div>
    </nav>
</template>