<template name="header">
    <nav class="blue darken-4">
        <div class="nav-wrapper container">
            <a class="brand-logo" href="{{pathFor 'verse'}}">Himmelseng <small>BETA</small></a>
            <a href="#" data-activates="mobile-menu" class="button-collapse" ><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {{> navlinks}}
            </ul>
            <ul class="side-nav" id="mobile-menu">
                {{> navlinks}}
            </ul>
        </div>
    </nav>
</template>