<template name="header">
    <nav>
        <div class="nav-wrapper">
            <a class="brand-logo" href="{{pathFor 'verse'}}">Himmelseng</a>
            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{pathFor 'verseSubmit'}}">Send inn vers!</a></li>
            </ul>
            <ul class="side-nav" id="mobile-menu">
                <li><a href="{{pathFor 'verseSubmit'}}">Send inn vers!</a></li>
            </ul>
        </div>
    </nav>



</template>