<template name="allVerses">
    <div class="allVerses">
        <div class="post-content">
            <h1>Alle vers:</h1>
            <div class="card-panel">
              <h5>Første vers:</h5>
              <p>
                Jeg ønsker meg en himmelseng <br/>
                en himmelseng med speil i, <br/>
                så jeg kan ligge og speile meg <br/>
                og se hvor jeg er deilig. </p>
            </div>
            <div class="card-panel">
              <h5>Refreng:</h5>
              <p>
                Hey lå li lå li lå <br/>
                li lå li lå li låa, <br/>
                hey lå li lå li lå <br/>
                li lå li lå li låa! <br/>
                Ompa ompa ompa sprut, <br/>
                ompa ompa sprut sprut!  </p>
            </div>
            {{#each verses}}
                <div class="card-panel">
                    <h5>{{this.title}}</h5>
                    <p class="pre">{{this.text}}</p>
                </div>
            {{/each}}
            <div class="card-panel">
              <h5>Siste vers:</h5>
              <p>
                jeg trenger ingen himmelseng <br/>
                en himmelseng med speil i <br/>
                jeg trenger ikke speile meg <br/>
                jeg vet hvor jeg er deilig.  </p>
            </div>
        </div>
    </div>
</template>
