<template name="verseSubmit">
    <div class="row">
        <h3>Send inn ditt vers:</h3>
        <form class="col s12">
            <div class="row valign-wrapper">
                <div class="input-field col s8 valign">
                    <input id="title" type="text" class="validate">
                    <label for="title">Navn på vers</label>
                </div>
                <div class="col s4 red-text">
                    <p><i>Valgfritt</i></p>
                </div>
            </div>
            <div class="row valign-wrapper">
                <div class="input-field col s8 valign">
                    <textarea id="text" class="materialize-textarea"></textarea>
                    <label for="text">Vers</label>
                </div>
                <div class="col s4 red-text valign">
                    <p><i>Tekst på fire linjer, takk :)</i></p>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Send!
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</template>
