<template name="verseSubmit">
    <div class="row">
        <h3>Send inn ditt vers:</h3>
        <form class="col s12 new-verse">
            <div class="row valign-wrapper">
                <div class="input-field col s8 valign">
                    <input id="title" type="text" class="validate">
                    <label for="title">Navn på vers</label>
                </div>
                <div class="col s4 red-text">
                    <p><i>Valgfritt</i></p>
                </div>
            </div>
            <div class="row valign-wrapper">
                <div class="input-field col s8 valign">
                    <textarea id="text" class="materialize-textarea"></textarea>
                    <label for="text">Vers</label>
                </div>
                <div class="col s4 red-text valign">
                    <p><i>Tekst på fire linjer, takk :)</i></p>
                </div>
            </div>
            <div class="row valign-wrapper">
                <div class="input-field col s8 valign">
                    <textarea id="metadata" class="materialize-textarea"></textarea>
                    <label for="metadata">Metadata</label>
                </div>
                <div class="col s4 red-text valign">
                    <p><i>Valgfritt. Kort info om verset (linjeforening, er det et personvers, etc)</i></p>
                </div>
            </div>
            <div class="row valign-wrapper">
                <div class="input-field col s8 valign">
                    <select id="studorg">
                        <option value="none" selected>Ingen</option>
                        {{#each organizations}}
                            <option value={{this.name}}>{{this.name}}</option>
                        {{/each}}
                    </select>
                    <label for="studorg">Velg linjeforening</label>
                </div>
                <div class="col s4 red-text valign">
                    <p><i>Velg hvilken linjeforening verset stammer fra</i></p>
                </div>
            </div>
            <button class="btn waves-effect waves-light green accent-4" type="submit" name="action">Send!
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</template>
