body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

main {
    flex: 1 0 auto;
}

.verse-panel {
    white-space: pre;
    min-height: 4em;
}

#refresh-button {
    display: inline-flex;
    vertical-align: middle;
}

#toast-container {
    position: fixed !important;
    bottom: 150px !important;
}


.onlinelogo {
    height: 1em;
    margin-bottom: -1px;
}

.pre {
    white-space: pre;
}

.underline {
    text-decoration: underline;
}