body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fafafa;
}

main {
    flex: 1 0 auto;
}

.verse-panel {
    white-space: pre;
}

.button-collapse {
    margin-left: 10px;
}

#refresh-button {
    display: inline-flex;
    vertical-align: middle;
}

#toast-container {
    position: fixed !important;
    bottom: 150px !important;
}


.onlinelogo {
    height: 1em;
}
