body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.verse-panel {
    white-space: pre;
}

#refresh-button {
    display: inline-flex;
    vertical-align: middle;
}